prettytable==2.5.0
pandas==1.5.3
pyperclip==1.8.0
requests==2.27.1
unicon==20.2
selenium==4.1.2
webdriver-manager==4.0.0
python-dateutil==2.8.2
beautifulsoup4==4.11.1
pytube==15.0.0
pytest==7.1.2
python-dotenv==0.20.0
pyautogui==0.9.53
pyttsx3==2.90
yagmail==0.15.293
docker==6.0.1
flask==2.2.2
fpdf==1.7.2
PyQt6==6.4.2
opencv-python==4.8.0.76
nltk==3.8.1
moviepy==1.0.3
scikit-learn==1.3.1
wikipedia==1.4.0
SpeechRecognition==3.10.0
# for pandas to work with xlsx
openpyxl==3.1.2
python-on-whales==0.69.0
